# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/
.venv/

# Data
data/

# Git
.git/
.gitignore
.gitattributes

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Tests (not needed in prod image)
tests/

# Docs
README.md

# Docker
.dockerignore
Dockerfile
